.required1 {
    color:red;
}
.newstreamerform {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    width: 100%
}
body {
    background-color: black;
}